<script src= "{{ "/css/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script> 
<script src= "{{ "/css/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script> 
<script src= "{{ "/css/bower_components/sideMenu/menuitems.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/vivus/dist/vivus.min.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/CreativeLinkEffects/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/image-slider/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/image-slider/js/jquery.imagesloaded.min.js" | prepend: site.baseurl }}"></script>
<script src= "{{ "/css/bower_components/image-slider/js/cbpBGSlideshow.min.js" | prepend: site.baseurl }}"></script>

<script src= "{{ "/css/js/main.js" | prepend: site.baseurl }}"></script> 