<section id="test">
  {% include intro_bg_svg.html %}
</section>
<section id="intro-contact" class="color-1">
  <nav class="cl-effect-1">
    <a class="cd-primary-nav-trigger-custom" href="#">work</a>
    <a class="cd-primary-nav-trigger-custom" href="#">about</a>
    <a class="cd-primary-nav-trigger-custom" href="#">contact</a>
  </nav>
</section>

<nav>
  <ul class="cd-primary-nav">
    <li class="cd-label">Work</li>

    <li><a href="#0">WealthBar</a></li>
    <li><a href="#0">PubCrawl</a></li>
    <li><a href="#0">Notify</a></li>
    <li><a href="#0">GuideDoge</a></li>

    <li class="cd-label">Follow us</li>
    
    <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
    <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
    <li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
    <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
  </ul>
</nav>