<nav>
  <ul  id="work-screen" class="cd-primary-nav cl-effect-17">
    
    <section class="screen-close" class="color-1">
      <nav class="cl-effect-1">
        <a class="work-trigger">close</a>
      </nav>
    </section>

    <li><strong><a class="work-trigger" href="#wealthbar">WealthBar</a></strong></li>
    <li><strong><a class="work-trigger" href="#pubcrawl">PubCrawl</a></strong></li>
    <li><strong><a class="work-trigger" href="#notify">Notify</a></strong></li>
    <li><strong><a class="work-trigger" href="#guidedoge">GuideDoge</a></strong></li>
    <li><strong><a style="color: #c44741;" class="work-trigger" href="#guidedoge"><strong>CLOSE</strong></a></strong></li>

  </ul>
</nav>