<section|div id="wealthbar" class="menuItem" data-mi-title="WealthBar">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #fff;">
      <h1>WealthBar</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
      </p>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">

      <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="/css/bower_components/image-slider/images/1.jpg" alt="image01"/></li>
        <li><img src="/css/bower_components/image-slider/images/2.jpg" alt="image02"/></li>
        <li><img src="/css/bower_components/image-slider/images/3.jpg" alt="image03"/></li>
        <li><img src="/css/bower_components/image-slider/images/4.jpg" alt="image04"/></li>
        <li><img src="/css/bower_components/image-slider/images/5.jpg" alt="image05"/></li>
        <li><img src="/css/bower_components/image-slider/images/6.jpg" alt="image06"/></li>
      </ul>
      <div id="cbp-bicontrols" class="cbp-bicontrols">
        <span class="cbp-biprev"></span>
        <span class="cbp-binext"></span>
      </div>

    </div>
  </div>
</section|div>

<section|div id="pubcrawl" class="menuItem" data-mi-title="PubCrawl">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h1>PubCrawl</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
      </p>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="notify" class="menuItem" data-mi-title="Notify">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h1>Notify</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
      </p>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="guidedoge" class="menuItem" data-mi-title="GuideDoge">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h1>GuideDoge</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
      </p>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

