<section|div id="wealthbar" class="menuItem" data-mi-title="WealthBar">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: red;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: orange;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="pubcrawl" class="menuItem" data-mi-title="PubCrawl">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: red;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: orange;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="notify" class="menuItem" data-mi-title="Notify">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: red;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: orange;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="guidedoge" class="menuItem" data-mi-title="GuideDoge">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: red;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: orange;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

