<section|div id="wealthbar" class="menuItem" data-mi-title="WealthBar">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #52616d;">
      <h1>WealthBar</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was p
      </p>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="pubcrawl" class="menuItem" data-mi-title="PubCrawl">
  <div class="content row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="notify" class="menuItem" data-mi-title="Notify">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

<section|div id="guidedoge" class="menuItem" data-mi-title="GuideDoge">
  <div class="row max-width work-div">
    <div class="large-6 columns work-content" style="background-color: #2c3e50;">
      <h4>left</h4>
    </div>
    <div class="large-6 columns work-content" style="background-color: #3498db;">
      <h4>right</h4>
    </div>
  </div>
</section|div>

