/**
 * intro-div
 */

html, body, .full-height  {
  height: 100%;
}

.intro-div {
  background-color: darkgrey;
  height: 100%;
  max-width: 100%;
  background: url(/css/img/bg.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro-div-text {
  position: absolute;
  top: 38%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
    h1 {
        margin: 15px auto 0 auto;
        color: white;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
      }
    h5 {
      font-family: 'Fauna One', serif;
      color: white;
      text-align: center;
    }
}

#intro-contact nav a {
  color: white;
  font-family: 'Fauna One', serif;
  text-decoration: none;
}

#svg_holder {
   width: 60px;
   height: 60px;
}

#svg_logo, #svg_real_logo { 
  position: absolute;
}


@media screen and (max-width: 435px) {
  #intro-contact nav a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
