/**
 * intro-div
 */

html, body, .full-height  {
  height: 100%;
}

.intro-div {
  background-color: #c44741;
  height: 100%;
  max-width: 100%;
}

#intro-div-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    h1 {
        margin-top: 15px;
        color: #fff;
        font-family: 'Vollkorn', serif;
        text-transform: uppercase;
      }
}

@media screen and (max-width: 435px) {
  #intro-contact nav a, #test {
  }
}

#intro-contact, #test {
  position: fixed;
  right: 0;
  z-index: 2;
  padding: 10px;
    a {
      color: #E5E1D1;
      font-family: 'Exo', sans-serif;
      text-decoration: none;
      display: inline-block;
  }
}

#intro-contact {
  margin-top: 10px;
}

#test {
  left: 0;
}

#svg_holder {
   width: 60px;
   height: 60px;
}

#svg_logo, #svg_real_logo { 
  position: absolute;
}

