/**
 * intro-div
 */

html, body, .full-height  {
  height: 100%;
}

.intro-div {
  background-color: #c44741;
  height: 100%;
  max-width: 100%;
}

#intro-div-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    h1 {
        margin-top: 15px;
        color: #fff;
        font-family: 'Vollkorn', serif;
        text-transform: uppercase;
      }
}

@media screen and (max-width: 435px) {
  #intro-contact nav a, #test {
  }
}

#intro-contact, #test {
  position: fixed;
  right: 0;
  z-index: 2;
  padding: 10px;
    a {
      color: #E5E1D1;
      font-family: 'Exo', sans-serif;
      text-decoration: none;
      display: inline-block;
  }
}

#intro-contact {
  margin-top: 10px;
}


#svg_holder {
   width: 60px;
   height: 60px;
}

#svg_logo, #svg_real_logo { 
  position: absolute;
}

.screen-close a {
  position: absolute;
  color: #2C343B; 
  top: 0;
  right: 0;
  padding: 10px;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}

#test, #test-inverse {
  left: 0;
}

#test-inverse {
  position: absolute;
  top: 0;
  padding: 10px;
}


.cd-primary-nav li a {
  font-size: 2.5em;
  color: #2C343B;
  text-decoration: none;
  font-family: 'Vollkorn', serif;
  text-transform: uppercase;

}

#work-screen, #contact-screen, #about-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-screen {
  flex-direction: row;
}
