/**
 * intro-div
 */

html, body, .full-height  {
  height: 100%;
}

.intro-div {
  background-color: #2c3e50;
  /*background-color: #046380;*/
  height: 100%;
  max-width: 100%;
}

#intro-div-text {
  position: absolute;
  z-index: 10;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
    h1 {
        margin: 15px auto 0 auto;
        color: #ecf0f1;
        text-align: center;
        /*font-family: 'Playfair Display SC', serif;*/
        font-family: 'Vollkorn', serif;
          text-transform: uppercase;
      }
}

#intro-contact nav a {
  color: #3498db;
  /*font-family: 'Fauna One', serif;*/
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}

#svg_holder {
   width: 60px;
   height: 60px;
}

#svg_logo, #svg_real_logo { 
  position: absolute;
}

#bg-image {
  background: url(/css/img/asd.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 260px;
  width: 100%;
  opacity: .5;
}


@media screen and (max-width: 435px) {
  #intro-contact nav a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
